<div class="navbar">
    <mat-toolbar color="primary" class="navbar-matbar">
        <span><mat-icon color="accent">aspect_ratio</mat-icon></span>

        <!-- This fills the remaining space of the current row -->
        <span class="navbar-right"></span>

        <span class=navbar-list>
            <ul>
                <li><span class="resume"><a href="#">Resume</a></span></li>
                <li><span>04.<a href="#Contact">Contact</a></span></li>
                <li><span>03.<a href="#Experience">Experience</a></span></li>
                <li><span>02.<a href="#Work">Work</a></span></li>
                <li><span>01.<a href="#About">About</a></span></li>
            </ul>
        </span>
    </mat-toolbar>
</div>