<div class="content"> 
    <mat-grid-list cols="6" rowHeight="1000px">
        <mat-grid-tile
            *ngFor="let tile of tiles"
            [colspan]="tile.cols"
            [rowspan]="tile.rows"
            [style.color]="tile.textColor"
            [style.background]="tile.color">
                
                <div *ngIf="tile.leftParallaxView"> 
                    <app-content-left-parallax-view>
                    </app-content-left-parallax-view>
                </div>
                <div *ngIf="tile.mainView"> 
                    <app-content-main-view>
                    </app-content-main-view> 
                </div>
                <div *ngIf="tile.rightParallaxView"> 
                    <app-content-right-parallax-view>
                    </app-content-right-parallax-view>
                </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
