<div class="intro">
    <div class="intro-content">

        <div class="intro-content-details">
            <div class="intro-hello into-padding">
                <p>Hi, my name is</p>
            </div>
            <div class="intro-name intro-padding">
                <p>Thavy Thach</p>
            </div>
            <div class="intro-quote intro-padding">
                <p>I like to code</p>
            </div>
            <div class="intro-details intro-padding">
                <p>I'm a software engineer based in Seattle, WA specializing in building (and occasionally designing) exceptional, high-quality websites and applications.</p>
            </div>
        </div>
    </div>

</div>