.work {
    /* background: lightsalmon; */
    padding: 150px;
    /* padding-bottom: 200px; */
}

.work-content {
    background-color: #0A192F;
    padding: 50px;
}

.work-content-details {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

.mat-tab-group {
    /* background-color: green; */
    /* color: white; */
    /* border: solid 1px black; */
}

* {
    font-family:  var(--font-family);
}

/* Styles for tab labels */
.mat-tab-label {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color: white;
    font-weight: 700;
}

.mat-tab-label:hover {
    background-color: #172A45;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
    /* min-width: 25px !important; */
    /* padding: 5px; */
    background-color: #172A45;
    color: #60E7CC;
    font-weight: 700;
}

/* Styles for the ink bar */
.mat-ink-bar {
    background-color: #60E7CC !important;
}

.mat-tab-header-pagination-chevron {
    background-color: #60E7CC !important;
}

p {
  font-family: Lato;
}

.exp-content {
    padding: 25px;
    padding-bottom: 500px;
}

.exp-details-tenure {
    font-size: 12px;
    
}

.exp-details-tico {
    font-size: 20px;
}

.exp-company {
    color: #60E7CC;
}

.deeds {
    /* padding-left: 100px; */
    /* padding-right: 100px; */
}
.deeds ul {
    /* padding-bottom: 500px; */
    position: absolute;
}

.deeds li {
    padding: 4px;
    
}

/* .condensed-deeds {
    padding-right: 300px;
} */