<div class="work" id="Work">
    <div class="work-content">
        <app-title title="Work Experience" title_item="02."></app-title>
        <div class="work-content-details" (click)="workClick($event)" href="#Work">
            <mat-tab-group [style.labels-color]="color.color" [style.color]="color.color" dynamicHeight>
                <mat-tab *ngFor="let exp of experiences" label="{{exp.company}}" >
                    <div class="exp-content deeds">
                        <span class="exp-details-tico">
                            <span class="exp-title">{{exp.title}}</span><span class="exp-company"> @ {{exp.company}}</span></span>
                        <br/>
                        <span class="exp-details-tenure">{{exp.start}} - {{exp.end}}</span>
                        <ul class="condensed-deeds">
                           <li *ngFor="let details of exp.details">{{details}}</li> 
                        </ul>

                        <!-- <img src="{{exp.logo}}" width=50px height=50px/> -->
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>