


<!-- our parallax stuff -->
<div appParallax [ratio]="-0.2" id="square"></div>
<div appParallax [ratio]="0.5" id="circle"></div>
<div appParallax [ratio]="-0.2">
  <app-navbar></app-navbar>
</div>
<div appParallax [ratio]="0.9" id="rectangle"></div>

<div id="container">
  <div id="content">
    <div style="width: 80%; margin-left: auto; margin-right: auto;">
      <!-- <app-contentc></app-content> -->
      <p>thavy says hi text here so we ample vertical scroll to play with....</p>
      <p>thavy says hi text here so we ample vertical scroll to play with....</p>
      <p>thavy says hi text here so we ample vertical scroll to play with....</p>
      <p>thavy says hi text here so we ample vertical scroll to play with....</p>
      <p>thavy says hi text here so we ample vertical scroll to play with....</p>
      <p>thavy says hi text here so we ample vertical scroll to play with....</p>
      <p>thavy says hi text here so we ample vertical scroll to play with....</p>
      <p>thavy says hi text here so we ample vertical scroll to play with....</p>
      <p>thavy says hi text here so we ample vertical scroll to play with....</p>
      <p>thavy says hi text here so we ample vertical scroll to play with....</p>
      <p>thavy says hi text here so we ample vertical scroll to play with....</p>
      <p>thavy says hi text here so we ample vertical scroll to play with....</p>
      <p>thavy says hi text here so we ample vertical scroll to play with....</p>
      <p>thavy says hi text here so we ample vertical scroll to play with....</p>
      <p>thavy says hi text here so we ample vertical scroll to play with....</p>
      <p>Lots of placeholder text here so we ample vertical scroll to play with....</p>
      <p>Lots of placeholder text here so we ample vertical scroll to play with....</p>
      <p>Lots of placeholder text here so we ample vertical scroll to play with....</p>
      <p>Lots of placeholder text here so we ample vertical scroll to play with....</p>
      <p>Lots of placeholder text here so we ample vertical scroll to play with....</p>
      <p>Lots of placeholder text here so we ample vertical scroll to play with....</p>
      <p>Lots of placeholder text here so we ample vertical scroll to play with....</p>
      <p>Lots of placeholder text here so we ample vertical scroll to play with....</p>
      <p>Lots of placeholder text here so we ample vertical scroll to play with....</p>
      <p>Lots of placeholder text here so we ample vertical scroll to play with....</p>
      <p>Lots of placeholder text here so we ample vertical scroll to play with....</p>
      <p>Lots of placeholder text here so we ample vertical scroll to play with....</p>
      <p>Lots of placeholder text here so we ample vertical scroll to play with....</p>
      <p>Lots of placeholder text here so we ample vertical scroll to play with....</p>
      <p>Lots of placeholder text here so we ample vertical scroll to play with....</p>
      <p>Lots of placeholder text here so we ample vertical scroll to play with....</p>
      <p>Lots of placeholder text here so we ample vertical scroll to play with....</p>
      <p>Lots of placeholder text here so we ample vertical scroll to play with....</p>
      <p>Lots of placeholder text here so we ample vertical scroll to play with....</p>
      <p>Lots of placeholder text here so we ample vertical scroll to play with....</p>
      <p>Lots of placeholder text here so we ample vertical scroll to play with....</p>
      <p>Lots of placeholder text here so we ample vertical scroll to play with....</p>
      <p>Lots of placeholder text here so we ample vertical scroll to play with....</p>
      <p>Lots of placeholder text here so we ample vertical scroll to play with....</p>
      <p>Lots of placeholder text here so we ample vertical scroll to play with....</p>
      <p>Lots of placeholder text here so we ample vertical scroll to play with....</p>
      <p>Lots of placeholder text here so we ample vertical scroll to play with....</p>
      <p>Lots of placeholder text here so we ample vertical scroll to play with....</p>
      <p>Lots of placeholder text here so we ample vertical scroll to play with....</p>
      <p>Lots of placeholder text here so we ample vertical scroll to play with....</p>
      <p>Lots of placeholder text here so we ample vertical scroll to play with....</p>
      <p>Lots of placeholder text here so we ample vertical scroll to play with....</p>
      <p>Lots of placeholder text here so we ample vertical scroll to play with....</p>
      <p>Lots of placeholder text here so we ample vertical scroll to play with....</p>
      <p>Lots of placeholder text here so we ample vertical scroll to play with....</p>
      <p>Lots of placeholder text here so we ample vertical scroll to play with....</p>
      
    </div>
  </div>
</div>

<router-outlet></router-outlet>