<div class="left=parallax">
    <ngx-parallax-scroll [config]="ngParallaxConf">
        <div class="parallax-link">
            <a href="https://instagram.com/thavythach" target="_blank">
                <img src="../assets/instagram.png" class="parallax-img" alt="parallax-img" width="50px" height="50px">
            </a>
            <a href="https://github.com/thavythach" target="_blank">
                <img src="../assets/github.png" class="parallax-img" alt="parallax-img" width="50px" height="50px">
            </a>
            <a href="https://linkedin.com/in/thavythach" target="_blank">
                <img src="../assets/linkedin.png" class="parallax-img" alt="parallax-img" width="50px" height="50px">
            </a>
            <!-- <a href="#"> -->
                <!-- <img src="../assets/discord.png" class="parallax-img" alt="parallax-img" width="50px" height="50px"> -->
            <!-- </a> -->
        </div>
    </ngx-parallax-scroll>
</div>